@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");

html,
body {
  background-color: #212529;
  font-family: "Fira Code", monospace;
  overflow: hidden;
  margin: 0;
  height: 100%;
  width: 100%;
}


